/* ============================= */
/* ASK FROM MY NOTES */
/* ============================= */

.notes-mode-card {
    grid-column: span 2;
}

.notes-icon {
    background: linear-gradient(
        135deg,
        #ff9a9e,
        #fad0c4
    );
}


/* Selected notes mode */

.mode-card input:checked + .mode-content {
    border-color: #667eea;
}


/* Mobile */

@media (max-width: 700px) {

    .notes-mode-card {
        grid-column: span 1;
    }

}
